
<div class="dropdown">
    <button class="far fa-user" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form class="formulario" [formGroup]="userRegisterFormGroup" (ngSubmit)="onSubmit()">
            <div class="form" formGroupName="newUser" >
                <div class="titulo">
                <h3>Iniciar sesion</h3>
                <h4>Entra con tu usuario registrado</h4>
            </div>
                <div class="row1">
                    <div class="col-md"> <label>Usuario</label></div>
                    <div class="col-md-08">
                        <div class="input-space">
                            <input formControlName="surname" type="text">
                        </div>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-md"> <label>Password </label> </div>
                    <div class="col-md-08">
                        <div class="input-space1">
                            <input formControlName="password" type="password">
                        </div>
                    </div>
                </div>


            </div>

            <div class="text-center">
                <a routerLink="/user-signup" class="btn btn-info">Registrarse</a>
            </div>
            
        </form>
    </div>
  </div>
