
<div class="dropdown">
    <button class="far fa-user" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form>
            <div formGroupName="newUser" class="form-area">
                <h3>Login</h3>

                <div class="row">
                    <div class="col-md-2"> <label>Usuario</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="name" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Password </label> </div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="password" type="password">
                        </div>
                    </div>
                </div>


            </div>

            <div class="text-center">
                <a routerLink="/user-signup" class="btn btn-info">Registrarse</a>
            </div>
            
        </form>
    </div>
  </div>
