<!--
<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">


            <h1> Datos de NombrePelicula</h1>
            <br>
            <br>
            <form [formGroup]="datosPeliculaFormGroup" (ngSubmit)="onSubmit()">

                <div formGroupName="actor" class="form-area">
                    <h3>Manejo de Datos</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">Actor</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                
                                <select formControlName="name" >
                                    <option *ngFor="let actor of actores" [ngValue]="actor" value="{{actor}}">
                                       {{actor.name}}
                                    </option>
                                </select>
                            
                            </div>
                        </div>

                        <div class="col-md-1">  
                            <button class="btn btn-primary btn-sm">
                                <i (click)="addActors()" class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div >
                        <h4>Actores:</h4>
                        <ul>
                            <li *ngFor="let a of actoresPelicula">
                                <div class="row">
                                    <div class="col"><h4>{{a.name}}</h4></div>
                                    <div class="col"><button class="btn  btn-primary btn-sm"><i class="fas fa-minus"></i></button></div>
                                    
                                </div>
                               
                            </li>
                            <li *ngIf="actorNuevo" >
                                <div class="row">
                                    <div class="col"><h4>{{actorNuevo}}</h4></div>
                                    <div class="col"><button (click)="delActors()" class="btn  btn-primary btn-sm"><i class="fas fa-minus"></i></button></div>                                        
                                </div>                                 
                            </li>
                        </ul>

                    </div>
                    <br>
                    <br>
        
                
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">Director</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">                                
                                <select formControlName="name" >
                                    <option *ngFor="let director of directores" [ngValue]="director">
                                       {{director.name}}
                                    </option>
                                </select>                            
                            </div>
                        </div>
                        <div class="col-md-1">  
                            <button class="btn btn-primary btn-sm">
                                <i (click)="addDirectors()" class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div >
                        <h4>Directores:</h4>
                        <ul>
                            <li *ngFor="let d of directoresPelicula">
                                <div class="row">
                                    <div class="col"><h4>{{d.name}}</h4></div>
                                    <div class="col"><button class="btn  btn-primary btn-sm"><i class="fas fa-minus"></i></button></div>                                        
                                </div>
                            </li>
                            <li *ngIf="directorNuevo" >
                                <div class="row">
                                    <div class="col"><h4>{{directorNuevo}}</h4></div>
                                    <div class="col"><button (click)="delDirectors()" class="btn  btn-primary btn-sm"><i class="fas fa-minus"></i></button></div>                                        
                                </div>                                 
                            </li>
                        </ul>

                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">Categoría</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                
                                <select formControlName="category_id" >
                                    <option *ngFor="let category of categorias" [ngValue]="category">
                                       {{category.name}}
                                    </option>
                                </select>                                                           
                            </div>
                        </div>
                    </div>
                

                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>    

        </div>
    </div>
</div>

-->