<div class="main-content page-m">
    <div class="section-content section-content-p30">
        
        <div class="container-fluid">
            <h2> Modificar Película</h2>
            <br>
            <br>
            <form (ngSubmit) = "guardarPelicula()">

                <div class="form-area">
                    <h3>{{pelicula.title}}</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Titulo</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" name="title" [(ngModel)]= "pelicula.title">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Descripción</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <textarea type="text" rows="5" cols="49" name="description" [(ngModel)]= "pelicula.description">

                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Fecha de estreno</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="date" name="date" [ngModel]='pelicula.date| date:"yyyy-MM-dd" '
                                    (ngModelChange)='pelicula.date=$event'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Url video</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" name="videoUrl" [(ngModel)]="pelicula.videoUrl" required="required">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="">Categoria:</label>
                        </div>
                        <div class="col-md-9">
                        <div class="input-space">
                                <select [(ngModel)]="categoriaPelicula.id" name="categoria_id">
                                    <option value="{{categoriaPelicula.id}}" selected></option>
                                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                                        {{categoria.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <button routerLink="/catalogo-peliculas" class="btn btn-danger right">Cancelar</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-info right-align" data-toggle="modal" data-target="#mensajeDeConfirmacion">Guardar</button>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Mensaje de confirmación -->
<div class="modal fade"
    id="mensajeDeConfirmacion" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="mensajeDeConfirmacion" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="mensajeDeConfirmacionTitle">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="mensaje?.length" class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
                    {{mensaje}}
                </div>
                <div *ngIf="mensajeError?.length" class="alert alert-danger alert-dismissible fade show col-md-12" role="alert">
                    {{mensajeError}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>