<div class="main-content">
    <div class="row section-content section-content-p30">
        <div class="col-sm-3">
            <button routerLink="/catalogo-peliculas" class="btn-sm btn-danger" title="Atrás" alt="Atrás"> X </button>
           <br>
            <img src="{{pelicula.imageUrl}}" alt="{{pelicula.title}}">
            <a routerLink="/modificar-pelicula/{{pelicula.id}}" class="btn-sm primary-btn"> Modificar</a>
            <a routerLink="/catalogo-peliculas" class="btn-sm primary-btn"> Eliminar</a>
        </div>
        <div class="col-sm-9">
            <div class="card-body">
                <h5 class="card-title">{{pelicula.title}}</h5>
                <p class="card-text">
                    {{pelicula.description}}
                </p>
            </div>
            <div class="card-footer">
                    <p>Disponible en los siguientes cinemas:</p>
                    <ul>
                        <li>
                            <a routerLink="/video-pelicula/{{pelicula.id}}" class=""> *Cine Colombia</a>        
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>