<div class="main-content paga-m">
    <div class="section-comtent section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="userRegisterFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="newUser" class="form-area">
                    <h3>New User</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="name" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="surname" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>User Name</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="userName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Password </label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="password" type="password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="email">
                            </div>
                        </div>
                    </div>


                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>