<div class="main-content paga-m">
    <div class="section-comtent section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="userRegisterFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="newUser" class="form-area">
                    <h3>Datos de Usuario</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Nombre</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="name" type="text">

                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="name.errors.required || name.errors.notOnlyWhitespace">
                                        Nombre es requerido
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Apellido</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="surname" type="text">

                                <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="surname.errors.required || surname.errors.notOnlyWhitespace">
                                        Apellido es requerido
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Usuario</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="userName" type="text">

                                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="userName.errors.required || userName.errors.notOnlyWhitespace">
                                        Usuario es requerido
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Contraseña </label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="password" type="password">

                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="password.errors.required || password.errors.notOnlyWhitespace">
                                        Contraseña es requerido
                                    </div>

                                    <div *ngIf="password.errors.minlength">
                                        Contraseña debe tener al meno 6 caracteres
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Correo Electronico</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="email">

                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="email.errors.required">
                                        Correo Electronico es requerido
                                    </div>

                                    <div *ngIf="email.errors.pattern">
                                        Correo Electronico debe tener formato valido. Ej: pepito@correo.com
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    

                </div>

                <div *ngIf="loginService.hasRole('admin')" formGroupName="newCinema"  class="form-area">
                    <h3>Datos de Cinema</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Sitio Web</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="webSite" type="text">

                                <div *ngIf="webSite.invalid && (webSite.dirty || webSite.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="webSite.errors.required || webSite.errors.notOnlyWhitespace">
                                        Sitio Web es requido
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Dirección</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="address" type="text">

                                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="address.errors.required || address.errors.notOnlyWhitespace">
                                        Dirección es requerida
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>

                <div *ngIf="loginService.hasRole('admin')"  class="text-center">
                    <button type="submit" class="btn btn-info">Registrar Cinema</button>
                </div>

                <div *ngIf="!loginService.hasRole('admin')"  class="text-center">
                    <button type="submit" class="btn btn-info">Registrar Usuario</button>
                </div>
                

            </form>
        </div>
    </div>
</div>