<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">


            <h1 class="text-center"> Descuentos y Promociones </h1>
            <div class = "table-responsive-md">
                <table class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th scope="col">Nº de oferta</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Tiempo de Oferta</th>
                            <th scope="col">Puntos adicionales</th>
                            <th scope="col">Costo de puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tempOffer of offers">
                            <td>{{tempOffer.id}}</td>
                            <td>{{tempOffer.description}}</td>
                            <td>{{tempOffer.deadline}}</td>
                            <td>{{tempOffer.addPoints}}</td>
                            <td>{{tempOffer.subPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="items">
                            <label>Item per page</label> <select>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="number">1 - 10 of 100</div>
                    </div>
                    <div class="col-md-1">
                        <div class="arrows">
                            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>