<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">


            <h1 class="text-center"> Descuentos y Promociones </h1>
            <div class = "table-responsive-md">
                <table class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th scope="col">Nº de oferta</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Tiempo de Oferta</th>
                            <th scope="col">Puntos adicionales</th>
                            <th scope="col">Costo de puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tempOffer of offers">
                            <td>{{tempOffer.id}}</td>
                            <td>{{tempOffer.description}}</td>
                            <td>{{tempOffer.deadline}}</td>
                            <td>{{tempOffer.addPoints}}</td>
                            <td>{{tempOffer.subPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>