<div class="page-wrapper">

	<!-- MENU SIDEBAR-->
	<app-menu-principal></app-menu-principal>
	
	<!-- END MENU SIDEBAR-->

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->
		<header class="header-desktop">
			<div class="section-content section-content-p30">
				<div class="container-fluid">
					<div class="header-wrap">
						<form class="form-header" onsubmit="return false;" method="GET">
							<input class="au-input au-input-xl" type="text" name="search"
								placeholder="Search for data ..." />
							<button class="au-btn-submit" type="submit">
								Search
							</button>
						</form>

						<app-user-status></app-user-status>
					</div>
					<div class="account-wrap"></div>
				</div>
			</div>
		</header>
		<!-- END HEADER DESKTOP-->

		<!-- MAIN CONTENT-->
		<router-outlet></router-outlet>


		<!-- END MAIN CONTENT-->

	</div>
</div>

<!-- END PAGE CONTAINER-->


<footer>
	<ul>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Contact Us</a></li>
		<li><a href="#">Help</a></li>
	</ul>
</footer>
<script>
	$(document).ready(main);

	var contador = 1;

	function main() {
		$('.menu_bar').click(function () {
			if (contador == 1) {
				$('nav').animate({
					left: '0'
				});
				contador = 0;
			} else {
				contador = 1;
				$('nav').animate({
					left: '-100%'
				});
			}
		});

		// Mostramos y ocultamos submenus
		$('.submenu').click(function () {
			$(this).children('.children').slideToggle();
		});
	}
</script>
<!-- end document-->