.menu_bar {
	display:none;
}
aside nav ul{
    padding-left: 0 !important;
}
aside nav ul li:hover {
	background:#2d5d82;
    transition: 0.5s;
}

aside nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding:5px 0 0 0;
}

aside nav ul li a span {
	margin-right:3px;
}

aside nav ul li:hover .children {
	display:block;
    transition: 0.5s;
}

aside nav ul li .children {
	display: none;
	background:#015183;
	position: absolute;
	width: 150%;
	z-index:1000;
}

aside nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

aside nav ul li .children li a {
	display: block;
}

aside nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

aside nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#1f345b;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	aside nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	aside nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	aside nav ul li a {
		display: block;
	}

	aside nav ul li:hover .children {
		display: none;
	}

	aside nav ul li .children {
		width: 100%;
		position: relative;
	}

	aside nav ul li .children li a {
		margin-left:20px;
	}

	aside nav ul li .caret {
		float: right;
	}
}