<div class="navbar-sidebar">
    <div class="menu_bar">
        <a href="#" class="bt-menu"><span class="icon-list2"></span>Menú</a>
    </div>

        
    <nav class="navbar-list">
        <ul>
            <li><a routerLink="/catalogo-peliculas"><span class="icon-house"></span>Inicio</a></li>
            <li class="submenu">
                <a><span class="icon-rocket"></span>Categorias<span class="caret icon-arrow-down6"></span></a>
                <ul class="children">
                    <li *ngFor="let tempListCategory of categorias">
                        <a routerLink="/catalogo-por-categoria/{{tempListCategory.id}}" routerLinkActive="active-link">
                            <!-- <a (click)="listaCategoria(tempListCategory.id)" routerLinkActive="active-link"> -->
                            {{tempListCategory.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><span class="icon-earth"></span>Cinemas</a></li>
        </ul>
    </nav>

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>